# API CONF
PORT=8080
DIR_LOG=./logs/
USER_REGISTRATION_OPEN_PUBLIC=true
JWT_KEY=paste_your_key_here

# MONGO CONF : leave username and password fields empty if the database is running locally
MONGO_USERNAME=admin
MONGO_PASSWORD=pwd
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DATABASE=db-pasteur
